.header {
  width: 100%;
  background-color: var(--header-bg-light);
  color: white;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.title {
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 2rem;
}

.actions {
  display: flex;
	padding-right: 3rem;
  gap: 1rem;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

@media (max-width: 768px) {
  .title {
		font-size: 1rem;
		padding: 1rem;
	}
	.actions {
		padding: 1rem;
	}
}